API_KEY=GENERA_TOKEN_SEGURO
MODEL_NAME=Qwen/Qwen2-VL-7B-Instruct
LOGIN_USER=admin
LOGIN_PASSWORD=CAMBIA_ESTA_PASSWORD
SECURE_COOKIE=false
VLLM_URL=http://127.0.0.1:8000
JWT_SECRET=GENERA_TOKEN_SEGURO
JWT_EXPIRE_SECONDS=86400
